# default owner

*       @hashicorp/vault-ecosystem-foundations

# release configuration

/.release/                               @hashicorp/vault-ecosystem-foundations
/.github/workflows/build.yml             @hashicorp/vault-ecosystem-foundations
