# default owner

*       @hashicorp/vault-ecosystem-foundations

# release configuration

/.release/                              @hashicorp/release-engineering @hashicorp/vault-ecosystem-foundations
/.github/workflows/build.yml            @hashicorp/release-engineering @hashicorp/vault-ecosystem-foundations
