name: Tests

on: [push, workflow_dispatch]

env:
  KIND_VERSION: "v0.30.0"
  BATS_VERSION: "1.12.0"
  NODE_VERSION: "19.8.1"
  TARBALL_FILE: vault-csi-provider.docker.tar
  UBI_ARTIFACT: vault-csi-provider-ubi
  UBI_TARBALL_FILE: vault-csi-provider-ubi.docker.tar

jobs:
  versions:
    runs-on: ubuntu-latest
    steps:
      - run: echo "setting versions"
    outputs:
      # JSON encoded array of k8s versions.
      K8S_VERSIONS: '["1.33.4", "1.32.8", "1.31.12", "1.30.13", "1.29.14"]'
      VAULT_N: "1.21.0"
      VAULT_N_1: "1.20.5"
      VAULT_N_2: "1.19.11"
      VAULT_LTS_1: "1.16.27"
  copyright:
    uses: hashicorp/vault-workflows-common/.github/workflows/copyright-headers.yaml@main
  go-checks:
    uses: hashicorp/vault-workflows-common/.github/workflows/go-checks.yaml@main
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6.0.0
        with:
          go-version-file: .go-version

      - name: Install tools
        run: make bootstrap

      - name: Lint
        run: make lint GOLANGCI_LINT_FORMAT=colored-line-number

  build-and-test:
    runs-on: ubuntu-latest
    outputs:
      TARBALL_FILE: ${{ env.TARBALL_FILE }}
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6.0.0
        with:
          go-version-file: .go-version

      - name: Build
        run: |
          make e2e-image
          docker save --output "${TARBALL_FILE}" e2e/vault-csi-provider:latest

      - name: Test
        run: make test

      - uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: vault-csi-provider-image
          path: ${{ env.TARBALL_FILE }}

  latest-vault:
    name: vault:${{ matrix.vault-version }} kind:${{ matrix.k8s-version }}
    runs-on: ubuntu-latest
    needs:
      - versions
      - lint
      - build-and-test
    strategy:
        fail-fast: false
        matrix:
          vault-version:
            - ${{ needs.versions.outputs.VAULT_N }}
          k8s-version: ${{ fromJson(needs.versions.outputs.K8S_VERSIONS) }}

    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - uses: ./.github/actions/integration-test
        name: vault:${{ matrix.vault-version }} kind:${{ matrix.k8s-version }}
        with:
          k8s-version: ${{ matrix.k8s-version }}
          vault-version: ${{ matrix.vault-version }}
          tarball-file: ${{ needs.build-and-test.outputs.TARBALL_FILE }}
          vault-license: ${{ secrets.VAULT_LICENSE_CI }}

  latest-k8s:
    name: vault:${{ matrix.vault-version }} kind:${{ matrix.k8s-version }}
    needs:
      - versions
      - lint
      - build-and-test
    strategy:
        fail-fast: false
        matrix:
          k8s-version:
            - ${{ fromJson(needs.versions.outputs.K8S_VERSIONS)[0] }}
          vault-version:
            - ${{ needs.versions.outputs.VAULT_N_1 }}
            - ${{ needs.versions.outputs.VAULT_N_2 }}
            - ${{ needs.versions.outputs.VAULT_LTS_1 }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - uses: ./.github/actions/integration-test
        name: vault:${{ matrix.vault-version }} kind:${{ matrix.k8s-version }}
        with:
          k8s-version: ${{ matrix.k8s-version }}
          vault-version: ${{ matrix.vault-version }}
          tarball-file: ${{ needs.build-and-test.outputs.TARBALL_FILE }}
          vault-license: ${{ secrets.VAULT_LICENSE_CI }}

  build-ubi:
    runs-on: ubuntu-latest
    outputs:
      ARTIFACT_NAME: ${{ env.UBI_ARTIFACT }}
      TARBALL_FILE: ${{ env.UBI_TARBALL_FILE }}
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6.0.0
        with:
          go-version-file: .go-version

      - name: Build
        run: |
          make ci-build e2e-image-ubi
          docker save --output "${UBI_TARBALL_FILE}" e2e/vault-csi-provider:latest

      - uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: ${{ env.UBI_ARTIFACT }}
          path: ${{ env.UBI_TARBALL_FILE }}

  ubi-smoke-test:
    name: ubi vault:${{ matrix.vault-version }} kind:${{ matrix.k8s-version }}
    needs:
      - versions
      - lint
      - build-ubi
    strategy:
      fail-fast: false
      matrix:
        k8s-version:
          - ${{ fromJson(needs.versions.outputs.K8S_VERSIONS)[0] }}
        vault-version:
          - ${{ needs.versions.outputs.VAULT_N }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - uses: ./.github/actions/integration-test
        name: ubi vault:${{ matrix.vault-version }} kind:${{ matrix.k8s-version }}
        with:
          k8s-version: ${{ matrix.k8s-version }}
          vault-version: ${{ matrix.vault-version }}
          artifact-name: ${{ needs.build-ubi.outputs.ARTIFACT_NAME }}
          image-type: ubi
          tarball-file: ${{ needs.build-ubi.outputs.TARBALL_FILE }}
          vault-license: ${{ secrets.VAULT_LICENSE_CI }}
          extra-vault-values: "--set csi.daemonSet.securityContext.container.runAsUser=0"
